<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Trái Tim Đỏ</title>
    <style>
        /* Thiết lập chiều cao toàn bộ trang */
        html, body {
            height: 100%;
            margin: 0;
        }
        /* Sử dụng Flexbox để căn giữa nội dung */
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
        /* Kích thước SVG */
        .heart-svg {
            width: 200px;
            height: 200px;
        }
    </style>
</head>
<body>
    <div class="container">
        <svg class="heart-svg" viewBox="0 0 100 100">
            <path d="M50 15 
                     C20 15, 20 50, 50 80 
                     C80 50, 80 15, 50 15 
                     Z" fill="red"/>
        </svg>
    </div>
</body>
</html>
